<%= form_for(article, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field control-group">
    <%= f.label :title, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :title %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_field :name %>
    </div>
  </div>
  <div class="field control-group">
    <%= f.label :body, :class => 'control-label' %>
    <div class='controls'>
      <%= f.text_area :body, :rows => 4, :class => 'input-xxlarge' %>
    </div>
  </div>
  <div class="actions cotrol-group">
    <div class='controls'>
      <%= f.submit %>
    </div>
  </div>
<% end %>
